<style>

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #FFFAF7;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 30px;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  color: #E67A20;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #043C49;
  color: white;
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #043C49;
  color: white;
}

/*transition color of play button on hover*/
.fa-circle-play:hover {
  color: #E67A20;
  transition: 0.6s
}

/* Fix modal video size and text for mobile */
@media screen and (max-width: 480px) {
  #videoId {
    width: 100%;
    height: 200px;
  }

  #modal-text {
    font-size: 15px;
    font-weight: normal;
  }

}


.sqs-block-content h1 {
  font-size: 3.8em;
  line-height: 1.5;
}

#block-yui_3_17_2_1_1675751664930_31246 {
  white-space: nowrap;
  height: 47px;
}

/* Fix h1 Main Intro for mobile */
@media screen and (max-width: 480px) {
  .sqs-block-content h1 {
    font-size: 2.5em
  }
</style>
<script src="https://kit.fontawesome.com/0e73e9997c.js" crossorigin="anonymous"></script>


/* 
<iframe id="videoId" height="500px" width="100%" src="https://www.youtube.com/embed/6PGZUrYINts?enablejsapi=1" */